<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/app}">

<head>
    <meta charset="UTF-8">
    <title>Detalles de usuario</title>
</head>

<body>

    <main layout:fragment="content">
        <h1>Detalles del usuario</h1>

        <div th:object="${user}">
            <p>Usuario: # [[${id}]]</p>
            <p>Nombre: [[${name}]]</p>
            <p>Email: [[${email}]]</p>
        </div>
    </main>

</body>


</html>